@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 43 99;
    --foreground: 253 10 17;
    --card: 0 43 99;
    --card-foreground: 253 10 17;
    --popover: 0 43 99;
    --popover-foreground: 253 10 17;
    --primary: 253 10 17;
    --primary-foreground: 0 43 99;
    --secondary: 253 5 95;
    --secondary-foreground: 253 10 17;
    --muted: 253 5 95;
    --muted-foreground: 253 5 50;
    --accent: 253 5 95;
    --accent-foreground: 253 10 17;
    --destructive: 0 84 60;
    --destructive-foreground: 0 43 99;
    --success: 142 70 45;
    --success-foreground: 0 43 99;
    --warning: 32 95 44;
    --warning-foreground: 0 43 99;
    --danger: 0 72 51;
    --danger-foreground: 0 43 99;
    --border: 253 5 90;
    --input: 253 5 90;
    --ring: 253 10 50;
    --radius: 0.5rem;
  }

  .dark {
    --background: 253 10 17;
    --foreground: 0 43 99;
    --card: 253 10 17;
    --card-foreground: 0 43 99;
    --popover: 253 10 17;
    --popover-foreground: 0 43 99;
    --primary: 0 43 99;
    --primary-foreground: 253 10 17;
    --secondary: 253 10 25;
    --secondary-foreground: 0 43 99;
    --muted: 253 10 25;
    --muted-foreground: 253 5 60;
    --accent: 253 10 25;
    --accent-foreground: 0 43 99;
    --destructive: 0 63 31;
    --destructive-foreground: 0 43 99;
    --success: 142 71 45;
    --success-foreground: 144 80 10;
    --warning: 32 95 54;
    --warning-foreground: 0 43 99;
    --danger: 0 63 41;
    --danger-foreground: 0 43 99;
    --border: 253 10 25;
    --input: 253 10 25;
    --ring: 253 10 50;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
